[submodule "beyondpaper-server"]
	path = BeyondPaper-Server
	url = https://github.com/chaosfreak93/beyondpaper-server.git
[submodule "beyondpaper-api"]
	path = BeyondPaper-API
	url = https://github.com/chaosfreak93/beyondpaper-api.git
